/* line 5, test.less */
.slidetools > ul li input:hover {
  cursor: pointer;
}
/* line 14, test.less */
.slidetool > ul {
  width: 100%;
  height: 1020px;
  line-height: 100px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
