<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd ">
             
     <context:component-scan base-package="com.song.db.config"></context:component-scan>
     <mvc:annotation-driven></mvc:annotation-driven>
<!--      <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!--      	<property name="locations"> -->
<!--      		<array> -->
<!--      			<value>classpath:com/song/db/property/datasource-config.properties</value> -->
<!--      		</array> -->
<!--      	</property> -->
<!--      </bean> -->
<!-- 	<bean id = "datasource" class="org.apache.commons.dbcp2.BasicDataSource"> -->
<!-- 		<property name="driverClassName"> -->
<!-- 			<value>${diverclass}</value> -->
<!-- 		</property> -->
<!-- 		<property name="url"> -->
<!-- 			<value>${url}</value> -->
<!-- 		</property> -->
<!-- 		<property name="username"> -->
<!-- 			<value>${username}</value> -->
<!-- 		</property> -->
<!-- 		<property name="password"> -->
<!-- 			<value>${password}</value> -->
<!-- 		</property> -->
<!-- 		<property name="maxIdle"> -->
<!-- 			<value>${maxIdle}</value> -->
<!-- 		</property> -->
<!-- 		<property name="minIdle"> -->
<!-- 			<value>${minIdle}</value> -->
<!-- 		</property> -->
<!-- 		<property name="maxWaitMillis"> -->
<!-- 			<value>${maxWaitMillis}</value> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
</beans>