/*------------------------------------------------lotterydata_movex begin---------------------------------------------------------------*/
/*
 *彩票数据块刚进来时的动画
 *
 */
/* line 6, event.less */
.lotterydata_movex {
  opacity: 0;
  filter: alpha(opacity=0);
  animation: lottery_data_slide 0.8s ease-in-out 0s 1 forwards;
  -o-animation: lottery_data_slide 0.8s ease-in-out 0s 1 forwards;
  -moz-animation: lottery_data_slide 0.8s ease-in-out 0s 1 forwards;
  -ms-animation: lottery_data_slide 0.8s ease-in-out 0s 1 forwards;
  -webkit-animation: lottery_data_slide 0.8s ease-in-out 0s 1 forwards;
}
/* line 15, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(1) {
  animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
}
/* line 18, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(2) {
  animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
}
/* line 21, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(3) {
  animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
}
/* line 24, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(4) {
  animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
}
/* line 27, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(5) {
  animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
}
/* line 30, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(6) {
  animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
}
/* line 33, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(7) {
  animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
}
@-webkit-keyframes lottery_data_slide {
  /* line 46, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(30px);
  }
  /* line 51, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes lottery_data_slide {
  /* line 58, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -moz-transform: translateX(30px);
  }
  /* line 63, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -moz-transform: translateX(0);
  }
}
@-ms-keyframes lottery_data_slide {
  /* line 70, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -ms-transform: translateX(30px);
  }
  /* line 75, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -ms-transform: translateX(0);
  }
}
@-o-keyframes lottery_data_slide {
  /* line 82, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -o-transform: translateX(30px);
  }
  /* line 87, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -o-transform: translateX(0);
  }
}
@keyframes lottery_data_slide {
  /* line 94, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    transform: translateX(30px);
  }
  /* line 99, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    transform: translateX(0);
  }
}
/*------------------------------------------------lotterydata_movex end---------------------------------------------------------------*/
/*------------------------------------------------lotterycup_movex begin---------------------------------------------------------------*/
/*
 * 彩票图标刚进来是的动画
 * 双色球初始化图标透明度设置成0,看不见,动画起始透明度为0
 */
/* line 111, event.less */
.lotterycup_movex {
  opacity: 0.2;
  filter: alpha(opacity=20);
  color: #fff;
  animation: lotterycup_slide 0.8s ease-in-out 0s 1 forwards;
  -o-animation: lotterycup_slide 0.8s ease-in-out 0s 1 forwards;
  -moz-animation: lotterycup_slide 0.8s ease-in-out 0s 1 forwards;
  -ms-animation: lotterycup_slide 0.8s ease-in-out 0s 1 forwards;
  -webkit-animation: lotterycup_slide 0.8s ease-in-out 0s 1 forwards;
}
@-webkit-keyframes lotterycup_slide {
  /* line 123, event.less */
  0% {
    /* style */
    opacity: .2;
    filter: alpha(opacity=20);
    -webkit-transform: translateX(-30px);
  }
  /* line 129, event.less */
  100% {
    /* style */
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes lotterycup_slide {
  /* line 137, event.less */
  0% {
    /* style */
    opacity: .2;
    filter: alpha(opacity=20);
    -moz-transform: translateX(-30px);
  }
  /* line 144, event.less */
  100% {
    /* style */
    -moz-transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lotterycup_slide {
  /* line 152, event.less */
  0% {
    /* style */
    opacity: .2;
    filter: alpha(opacity=20);
    -ms-transform: translateX(-30px);
  }
  /* line 158, event.less */
  100% {
    /* style */
    -ms-transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lotterycup_slide {
  /* line 166, event.less */
  0% {
    /* style */
    -o-transform: translateX(-30px);
    opacity: .2;
    filter: alpha(opacity=20);
  }
  /* line 172, event.less */
  100% {
    /* style */
    -o-transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes lotterycup_slide {
  /* line 180, event.less */
  0% {
    /* style */
    transform: translateX(-30px);
    opacity: .2;
    filter: alpha(opacity=20);
  }
  /* line 186, event.less */
  100% {
    /* style */
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/*------------------------------------------------lotterycup_movex end---------------------------------------------------------------*/
/*页面加载以后,定义平移动画 begin*/
/*No.1*/
/* line 197, event.less */
.lottery_slide_1 {
  animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
}
/*No.2*/
/* line 205, event.less */
.lottery_slide_2 {
  /*transform : translateX(-100%);
	-webkit-transform : translateX(-100%);
	-o-transform : translateX(-100%);
	-ms-transform : translateX(-100%);
	-moz-transform : translateX(-100%);*/
  animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  left: -100%;
}
/*No.3*/
/* line 219, event.less */
.lottery_slide_3 {
  /*transform : translateX(-100%);
	-webkit-transform : translateX(-100%);
	-o-transform : translateX(-100%);
	-ms-transform : translateX(-100%);
	-moz-transform : translateX(-100%);*/
  animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
}
/*定义平移动画 end*/
/*第一个平移*/
@-webkit-keyframes lottery_slide_1 {
  /* line 238, event.less */
  100% {
    -webkit-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_slide_1 {
  /* line 247, event.less */
  100% {
    -moz-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_slide_1 {
  /* line 256, event.less */
  100% {
    -ms-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_slide_1 {
  /* line 265, event.less */
  100% {
    -o-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_slide_1 {
  /* line 274, event.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*第二个平移*/
@-webkit-keyframes lottery_slide_2 {
  /* line 282, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 287, event.less */
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_slide_2 {
  /* line 294, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 299, event.less */
  100% {
    -moz-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_slide_2 {
  /* line 306, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 311, event.less */
  100% {
    -ms-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_slide_2 {
  /* line 318, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 323, event.less */
  100% {
    -o-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_slide_2 {
  /* line 330, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 335, event.less */
  100% {
    transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*第三个平移*/
@-webkit-keyframes lottery_slide_3 {
  /* line 343, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 348, event.less */
  100% {
    -webkit-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_slide_3 {
  /* line 355, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 360, event.less */
  100% {
    -moz-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_slide_3 {
  /* line 367, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 372, event.less */
  100% {
    -ms-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_slide_3 {
  /* line 379, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 384, event.less */
  100% {
    -o-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_slide_3 {
  /* line 391, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 396, event.less */
  100% {
    transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*----------------------彩票内容滑动动画 begin--------------------------------------------------*/
/*反弹距离*/
/*第一条内容滑动动画*/
@-webkit-keyframes lottery_data_items_slide {
  /* line 406, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(200%);
  }
  /* line 411, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(-10px);
  }
  /* line 416, event.less */
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes lottery_data_items_slide {
  /* line 421, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translateX(200%);
  }
  /* line 426, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -moz-transform: translateX(-10px);
  }
  /* line 431, event.less */
  100% {
    transform: translateX(0);
  }
}
@-ms-keyframes lottery_data_items_slide {
  /* line 436, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translateX(200%);
  }
  /* line 441, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -ms-transform: translateX(-10px);
  }
  /* line 446, event.less */
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes lottery_data_items_slide {
  /* line 451, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: translateX(200%);
  }
  /* line 456, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -o-transform: translateX(-10px);
  }
  /* line 461, event.less */
  100% {
    transform: translateX(0);
  }
}
@keyframes lottery_data_items_slide {
  /* line 466, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(200%);
  }
  /* line 471, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    transform: translateX(-10px);
  }
  /* line 476, event.less */
  100% {
    transform: translateX(0);
  }
}
/*----------------------彩票内容滑动动画 end----------------------------------------------------*/
