/*彩票球大小*/
/*彩票球包装样式-简*/
/* line 25, lotterywrapper.less */
.simpleballwrapper_red {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(255, 0, 0, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 46, lotterywrapper.less */
.simpleballwrapper_red + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 27, lotterywrapper.less */
.simpleballwrapper_red + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 46, lotterywrapper.less */
.simpleballwrapper + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 64, lotterywrapper.less */
.simpleballwrapper_blue {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(0, 0, 255, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 66, lotterywrapper.less */
.simpleballwrapper_blue + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 104, lotterywrapper.less */
.nextnumsection {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-direction: column ;
  -webkit-flex-direction: column ;
  -ms-flex-direction: column ;
  -o-flex-direction: column ;
  -moz-flex-direction: column ;
  align-content: center;
  /*基于基线对齐*/
  align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -webkit-align-items: baseline;
  -o-align-items: baseline;
  min-height: 30%;
  height: auto;
  max-height: 80%;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
  padding-top: 1%;
  padding-bottom: 3%;
}
/* line 143, lotterywrapper.less */
.nextnumsection h1 {
  font-weight: lighter;
  font-family: serif;
  clean: both;
}
/* line 149, lotterywrapper.less */
.nextnumsection dl {
  margin: 0 ;
  padding: 0;
  clear: both;
  width: 90%;
  margin-right: 10%;
}
/* line 156, lotterywrapper.less */
.nextnumsection dl > dt {
  margin-left: 5px;
}
/* line 160, lotterywrapper.less */
.nextnumsection dl > dd {
  margin-left: 0;
}
/* line 167, lotterywrapper.less */
.nextnumsection .lotterynums {
  /*旧写法*/
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  /*新写法*/
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  /*混合写法*/
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flexbox;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -moz-box-wrap: wrap;
  -ms-box-wrap: wrap;
  -o-box-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  -o-flex-flow: wrap;
  flex-flow: wrap;
  align-items: center;
  -webkit-align-items: center;
  margin: 0;
  margin-left: 30px;
  /*跟上面保持对齐*/
  margin-top: 10px;
  padding: 0;
  /* perspective : */
  /*border : 1px solid;*/
}
/* line 205, lotterywrapper.less */
.nextnumsection .lotterynums li {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style-type: none;
  with: auto ;
  height: auto;
  margin-left: 5px;
}
/* line 219, lotterywrapper.less */
.nextnumsection .lotterynums li > div {
  position: relative;
}
/* line 223, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type {
  /*滚入动画触发*/
  animation: ballrollingin 2s ease-out 0s 1 backwards;
  -o-animation: ballrollingin 2s ease-out 0s 1 backwards;
  -moz-animation: ballrollingin 2s ease-out 0s 1 backwards;
  -ms-animation: ballrollingin 2s ease-out 0s 1 backwards;
  -webkit-animation: ballrollingin 2s ease-out 0s 1 backwards;
}
/* line 224, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(255, 0, 0, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 46, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 27, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 227, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper_blue {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(0, 0, 255, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 66, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper_blue + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 238, lotterywrapper.less */
.nextnumsection .lotterynums li span:nth-of-type(2) {
  /*充当阴影*/
  /**
					 *控制动画
					**/
  -o-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  -moz-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  -ms-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  -webkit-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  border-radius: 16px;
}
@-webkit-keyframes ballrollingin {
  /* line 267, lotterywrapper.less */
  0% {
    -webkit-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 270, lotterywrapper.less */
  100% {
    -webkit-transform: translateX(0) rotateZ(-720deg);
    /* style */
  }
}
@-moz-keyframes ballrollingin {
  /* line 276, lotterywrapper.less */
  0% {
    -moz-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 279, lotterywrapper.less */
  100% {
    -moz-transform: translateX(0) rotateZ(-720deg);
  }
}
@-ms-keyframes ballrollingin {
  /* line 284, lotterywrapper.less */
  0% {
    -ms-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 287, lotterywrapper.less */
  100% {
    -ms-transform: translateX(0) rotateZ(-720deg);
  }
}
@-o-keyframes ballrollingin {
  /* line 292, lotterywrapper.less */
  0% {
    -o-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 295, lotterywrapper.less */
  100% {
    -o-transform: translateX(0) rotateZ(-720deg);
  }
}
@keyframes ballrollingin {
  /* line 300, lotterywrapper.less */
  0% {
    transform: translateX(500px) rotateZ(0deg);
  }
  /* line 303, lotterywrapper.less */
  100% {
    transform: translateX(0) rotateZ(-720deg);
  }
}
/*彩票球阴影跟随动画*/
@-webkit-keyframes ballshadowfollow {
  /* line 309, lotterywrapper.less */
  0% {
    -webkit-transform: translateX(500px);
  }
  /* line 312, lotterywrapper.less */
  100% {
    /* style */
    webkit-tranform: translateX(0);
  }
}
@-moz-keyframes ballshadowfollow {
  /* line 318, lotterywrapper.less */
  0% {
    -moz-transform: translateX(500px);
  }
  /* line 321, lotterywrapper.less */
  100% {
    /* style */
    moz-tranform: translateX(0);
  }
}
@-ms-keyframes ballshadowfollow {
  /* line 327, lotterywrapper.less */
  0% {
    -ms-transform: translateX(500px);
  }
  /* line 330, lotterywrapper.less */
  100% {
    /* style */
    ms-tranform: translateX(0);
  }
}
@-o-keyframes ballshadowfollow {
  /* line 336, lotterywrapper.less */
  0% {
    -o-transform: translateX(500px);
  }
  /* line 339, lotterywrapper.less */
  100% {
    /* style */
    o-tranform: translateX(0);
  }
}
@keyframes ballshadowfollow {
  /* line 345, lotterywrapper.less */
  0% {
    transform: translateX(500px);
  }
  /* line 348, lotterywrapper.less */
  100% {
    /* style */
    tranform: translateX(0);
  }
}
