@charset "UTF-8";
/**
 *-------author : Willis Song
 *-------smarttery-main stylesheet
 *------- Year : 2015
 */
/* line 12, style.less */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  font: Arial 25px/30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  perspective: 100;
  -o-perspective: 100;
  -moz-perspective: 100;
  -webkit-perspective: 100;
  -ms-perspective: 100;
  perpective-origin: 0 50%;
  -moz-perpective-origin: 0 50%;
  -ms-perpective-origin: 0 50%;
  -o-perpective-origin: 0 50%;
  -webkit-perpective-origin: 0 50%;
}
/* line 35, style.less */
input,
textarea,
p,
span,
button {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
}
/* line 60, style.less */
.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 98, style.less */
.slidetool {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  padding: 0 ;
  z-index: 2;
}
/* line 110, style.less */
.slidetool > ul {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
/* line 119, style.less */
.slidetool > ul li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin-left: 5px;
}
/* line 130, style.less */
.slidetool > ul li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1.5px #ffffff solid;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
/* line 142, style.less */
.slidetool > ul li input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  z-index: 3;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 155, style.less */
.slidetool > ul li input:hover {
  cursor: pointer;
}
/* line 159, style.less */
.slidetool > ul li input:checked + span {
  background: #ffffff;
}
/* line 173, style.less */
.lottery-scroll,
.lottery-panel {
  width: 100%;
  position: relative;
  height: 100%;
  top: 0;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}
/* line 185, style.less */
.lottery-scroll .lottery-panel {
  background: #b45b3e;
}
/* line 191, style.less */
.lottery-scroll .lottery-panel .lotterycup {
  position: absolute;
  left: 10%;
  margin: 0;
  top: 38.2%;
  text-align: center;
  vertical-align: middle;
}
/* line 204, style.less */
.lottery-scroll .lottery-panel .lotterydata {
  display: block;
  width: 40%;
  /*change*/
  height: 80%;
  /*change*/
  max-width: 100%;
  top: 10%;
  color: #fff;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  position: absolute;
  left: 50%;
  font-family: '微软雅黑';
  font-size: 15px;
  font-weight: lighter;
  border-radius: 5px;
}
/* line 223, style.less */
.lottery-scroll .lottery-panel .lotterydata .curnt_lotry_info {
  min-height: 30%;
  /*change*/
  heigh: auto;
  width: 100%;
  /*change*/
  position: relative;
}
/* line 233, style.less */
.lottery-scroll .lottery-panel .lotterydata .curnt_lotry_info > ul li {
  /*旧写法*/
  /*新写法*/
  /*混合写法*/
  /*旧写法*/
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  /*新写法*/
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  /*混合写法*/
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flexbox;
  /*按行排列显示*/
  flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  margin-top: 10px;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5em;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
}
/* line 246, style.less */
.lottery-scroll .lottery-panel .lotterydata .curnt_lotry_info > ul li [class^=simpleballwrapper] {
  margin-left: 5px;
}
/* line 248, style.less */
.lottery-scroll .lottery-panel .lotterydata .curnt_lotry_info > ul li [class^=simpleballwrapper] + .ballshadow {
  left: 10px !important;
}
/* line 256, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button {
  padding: 0;
  bottom: 0;
  background-color: #ffffff;
  border-style: none;
  width: 50%;
  /*change*/
  height: 50px;
  /*change*/
  line-height: 50px;
  color: #b45b3e;
  font-size: 1.2em;
  position: absolute;
  bottom: 3%;
  border-radius: 2px;
  right: 5%;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}
/* line 273, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button:hover {
  cursor: pointer;
  border: 1pt solid #fff ;
  background: transparent;
  color: #fff;
}
/* line 277, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button:hover::after {
  border-top: 1pt solid #fff;
  border-right: 1pt solid #fff;
  transform: translate(0, -5px) rotate(-45deg);
  -o-transform: translate(0, -5px) rotate(-45deg);
  -ms-transform: translate(0, -5px) rotate(-45deg);
  -webkit-transform: translate(0, -5px) rotate(-45deg);
  -moz-transform: translate(0, -5px) rotate(-45deg);
}
/* line 286, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button:hover span {
  transform: translate(-25px, 0);
  -o-transform: translate(-25px, 0);
  -ms-transform: translate(-25px, 0);
  -webkit-transform: translate(-25px, 0);
  -moz-transform: translate(-25px, 0);
}
/* line 295, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button::after {
  content: "";
  width: 12.5px;
  /*change*/
  height: 12.5px;
  /*change*/
  transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  border-top: 1pt solid #b45b3e;
  border-right: 1pt solid #b45b3e;
  position: absolute;
  right: 15%;
  top: 50%;
}
/* line 318, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button:active {
  background: #fff;
  color: #b45b3e ;
}
/* line 321, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button:active::after {
  border-color: #b45b3e;
}
/* line 326, style.less */
.lottery-scroll .lottery-panel .lotterydata .mid_leng_button span {
  display: inline-block;
  width: auto;
  height: 100%;
  font-size: 80%;
  background: transparent;
  max-width: 100px;
  transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -webkit-transition: all ease-out 0.4s;
  -ms-transition: all ease-out 0.4s;
}
@-webkit-keyframes btn_arrow_dh {
  /* line 350, style.less */
  0% {
    -webkit-transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /* line 355, style.less */
  100% {
    -webkit-transform: translateY(10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes btn_arrow_dh {
  /* line 362, style.less */
  0% {
    -moz-transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /* line 367, style.less */
  100% {
    -moz-transform: translateY(10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes btn_arrow_dh {
  /* line 374, style.less */
  0% {
    -ms-transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /* line 379, style.less */
  100% {
    -ms-transform: translateY(10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-o-keyframes btn_arrow_dh {
  /* line 386, style.less */
  0% {
    -o-transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /* line 391, style.less */
  100% {
    -o-transform: translateY(10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes btn_arrow_dh {
  /* line 398, style.less */
  0% {
    transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  /* line 403, style.less */
  100% {
    transform: translateY(10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
/* line 410, style.less */
.lottery-scroll #ssq {
  left: 0;
  position: absolute;
  background: #b45b3e ;
}
/* line 423, style.less */
.lottery-scroll #dlt {
  left: 100%;
  position: absolute;
}
/* line 427, style.less */
.lottery-scroll #qxc {
  left: 200%;
  position: absolute;
}
/*------------------------------------------------lotterydata_movex begin---------------------------------------------------------------*/
/*
 *彩票数据块刚进来时的动画
 *
 */
/* line 6, event.less */
.lotterydata_movex {
  opacity: 0;
  filter: alpha(opacity=0);
  animation: lottery_data_slide 0.8s ease-in-out 0.2s 1 forwards;
  -o-animation: lottery_data_slide 0.8s ease-in-out 0.2s 1 forwards;
  -moz-animation: lottery_data_slide 0.8s ease-in-out 0.2s 1 forwards;
  -ms-animation: lottery_data_slide 0.8s ease-in-out 0.2s 1 forwards;
  -webkit-animation: lottery_data_slide 0.8s ease-in-out 0.2s 1 forwards;
}
/* line 15, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(1) {
  animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 0.6s 1 backwards;
}
/* line 18, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(2) {
  animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 1s 1 backwards;
}
/* line 21, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(3) {
  animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 1.4s 1 backwards;
}
/* line 24, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(4) {
  animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 1.8s 1 backwards;
}
/* line 27, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(5) {
  animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 2.2s 1 backwards;
}
/* line 30, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(6) {
  animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 2.6s 1 backwards;
}
/* line 33, event.less */
.lotterydata_movex .curnt_lotry_info > ul li:nth-of-type(7) {
  animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -webkit-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -ms-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -moz-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
  -o-animation: lottery_data_items_slide 0.8s ease-out 3s 1 backwards;
}
@-webkit-keyframes lottery_data_slide {
  /* line 46, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(30px);
  }
  /* line 51, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes lottery_data_slide {
  /* line 58, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -moz-transform: translateX(30px);
  }
  /* line 63, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -moz-transform: translateX(0);
  }
}
@-ms-keyframes lottery_data_slide {
  /* line 70, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -ms-transform: translateX(30px);
  }
  /* line 75, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -ms-transform: translateX(0);
  }
}
@-o-keyframes lottery_data_slide {
  /* line 82, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    -o-transform: translateX(30px);
  }
  /* line 87, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -o-transform: translateX(0);
  }
}
@keyframes lottery_data_slide {
  /* line 94, event.less */
  0% {
    opacity: 0 ;
    filter: alpha(opacity=0);
    transform: translateX(30px);
  }
  /* line 99, event.less */
  100% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    transform: translateX(0);
  }
}
/*------------------------------------------------lotterydata_movex end---------------------------------------------------------------*/
/*------------------------------------------------lotterycup_movex begin---------------------------------------------------------------*/
/*
 * 彩票图标刚进来是的动画
 * 双色球初始化图标透明度设置成0,看不见,动画起始透明度为0
 */
/* line 111, event.less */
.lotterycup_movex {
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  animation: lotterycup_slide 0.8s ease-in-out 0.2s 1 forwards;
  -o-animation: lotterycup_slide 0.8s ease-in-out 0.2s 1 forwards;
  -moz-animation: lotterycup_slide 0.8s ease-in-out 0.2s 1 forwards;
  -ms-animation: lotterycup_slide 0.8s ease-in-out 0.2s 1 forwards;
  -webkit-animation: lotterycup_slide 0.8s ease-in-out 0.2s 1 forwards;
}
@-webkit-keyframes lotterycup_slide {
  /* line 123, event.less */
  0% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-30px);
  }
  /* line 129, event.less */
  100% {
    /* style */
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes lotterycup_slide {
  /* line 137, event.less */
  0% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translateX(-30px);
  }
  /* line 144, event.less */
  100% {
    /* style */
    -moz-transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lotterycup_slide {
  /* line 152, event.less */
  0% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translateX(-30px);
  }
  /* line 158, event.less */
  100% {
    /* style */
    -ms-transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lotterycup_slide {
  /* line 166, event.less */
  0% {
    /* style */
    -o-transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 172, event.less */
  100% {
    /* style */
    -o-transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes lotterycup_slide {
  /* line 180, event.less */
  0% {
    /* style */
    transform: translateX(-30px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 186, event.less */
  100% {
    /* style */
    transform: translateX(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/*------------------------------------------------lotterycup_movex end---------------------------------------------------------------*/
/*页面加载以后,定义平移动画 begin*/
/*No.1*/
/* line 197, event.less */
.lottery_slide_1 {
  animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_slide_1 0.5s ease-in-out 0.1s 1 forwards;
}
/*No.2*/
/* line 205, event.less */
.lottery_slide_2 {
  /*transform : translateX(-100%);
	-webkit-transform : translateX(-100%);
	-o-transform : translateX(-100%);
	-ms-transform : translateX(-100%);
	-moz-transform : translateX(-100%);*/
  animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_slide_2 0.5s ease-in-out 0.1s 1 forwards;
  left: -100%;
}
/*No.3*/
/* line 219, event.less */
.lottery_slide_3 {
  /*transform : translateX(-100%);
	-webkit-transform : translateX(-100%);
	-o-transform : translateX(-100%);
	-ms-transform : translateX(-100%);
	-moz-transform : translateX(-100%);*/
  animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_slide_3 0.5s ease-in-out 0.1s 1 forwards;
}
/*定义平移动画 end*/
/*第一个平移*/
@-webkit-keyframes lottery_slide_1 {
  /* line 238, event.less */
  100% {
    -webkit-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_slide_1 {
  /* line 247, event.less */
  100% {
    -moz-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_slide_1 {
  /* line 256, event.less */
  100% {
    -ms-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_slide_1 {
  /* line 265, event.less */
  100% {
    -o-transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_slide_1 {
  /* line 274, event.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*第二个平移*/
@-webkit-keyframes lottery_slide_2 {
  /* line 282, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 287, event.less */
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_slide_2 {
  /* line 294, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 299, event.less */
  100% {
    -moz-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_slide_2 {
  /* line 306, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 311, event.less */
  100% {
    -ms-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_slide_2 {
  /* line 318, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 323, event.less */
  100% {
    -o-transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_slide_2 {
  /* line 330, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 335, event.less */
  100% {
    transform: translateX(-100%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*第三个平移*/
@-webkit-keyframes lottery_slide_3 {
  /* line 343, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 348, event.less */
  100% {
    -webkit-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_slide_3 {
  /* line 355, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 360, event.less */
  100% {
    -moz-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_slide_3 {
  /* line 367, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 372, event.less */
  100% {
    -ms-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_slide_3 {
  /* line 379, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 384, event.less */
  100% {
    -o-transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_slide_3 {
  /* line 391, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 396, event.less */
  100% {
    transform: translateX(-200%);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*----------------------彩票内容滑动动画 begin--------------------------------------------------*/
/*反弹距离*/
/*第一条内容滑动动画*/
@-webkit-keyframes lottery_data_items_slide {
  /* line 406, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(200%);
  }
  /* line 411, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(-10px);
  }
  /* line 416, event.less */
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes lottery_data_items_slide {
  /* line 421, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translateX(200%);
  }
  /* line 426, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -moz-transform: translateX(-10px);
  }
  /* line 431, event.less */
  100% {
    transform: translateX(0);
  }
}
@-ms-keyframes lottery_data_items_slide {
  /* line 436, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-transform: translateX(200%);
  }
  /* line 441, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -ms-transform: translateX(-10px);
  }
  /* line 446, event.less */
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes lottery_data_items_slide {
  /* line 451, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transform: translateX(200%);
  }
  /* line 456, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    -o-transform: translateX(-10px);
  }
  /* line 461, event.less */
  100% {
    transform: translateX(0);
  }
}
@keyframes lottery_data_items_slide {
  /* line 466, event.less */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(200%);
  }
  /* line 471, event.less */
  80% {
    opacity: 1 ;
    filter: alpha(opacity=100);
    transform: translateX(-10px);
  }
  /* line 476, event.less */
  100% {
    transform: translateX(0);
  }
}
/*----------------------彩票内容滑动动画 end----------------------------------------------------*/
/* line 436, style.less */
.panel-init-slide {
  animation: lottery_init_slide 0.5s ease-in-out 0.1s 1 forwards;
  -o-animation: lottery_init_slide 0.5s ease-in-out 0.1s 1 forwards;
  -moz-animation: lottery_init_slide 0.5s ease-in-out 0.1s 1 forwards;
  -ms-animation: lottery_init_slide 0.5s ease-in-out 0.1s 1 forwards;
  -webkit-animation: lottery_init_slide 0.5s ease-in-out 0.1s 1 forwards;
}
@-webkit-keyframes lottery_init_slide {
  /* line 445, style.less */
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 450, style.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes lottery_init_slide {
  /* line 457, style.less */
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 462, style.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-ms-keyframes lottery_init_slide {
  /* line 469, style.less */
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 474, style.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes lottery_init_slide {
  /* line 481, style.less */
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 486, style.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
@keyframes lottery_init_slide {
  /* line 493, style.less */
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  /* line 498, style.less */
  100% {
    transform: translateX(0);
    opacity: 1 ;
    filter: alpha(opacity=100);
  }
}
/*computer*/
@media only screen and (min-width: 1024px) {
  /* line 508, style.less */
  .lottery-scroll .lottery-panel {
    /*280px*/
  }
  /* line 511, style.less */
  .lottery-scroll .lottery-panel .lotterycup {
    width: 300px;
    /*change*/
    height: 300px;
    /*change*/
    line-height: 300px;
    margin-top: -150px;
    left: 50%;
    margin-left: -450px;
  }
  /* line 522, style.less */
  .lottery-scroll .lottery-panel .lotterydata {
    width: 40%;
    /*change*/
    height: 80%;
    /*change*/
    right: 10%;
  }
}
/*ipad 横屏*/
@media only screen and (min-width: 384px) and (max-width: 1024px) and (orientation: landscape) {
  /* line 534, style.less */
  .lottery-scroll .lottery-panel {
    /*280px*/
  }
  /* line 537, style.less */
  .lottery-scroll .lottery-panel .lotterycup {
    width: 40%;
    /*change*/
    height: 30%;
    /*change*/
    margin-top: -100px;
  }
  /* line 543, style.less */
  .lottery-scroll .lottery-panel .lotterydata {
    width: 40%;
    /*change*/
    height: 100%;
    /*change*/
    right: 10%;
    top: 0;
  }
  /* line 550, style.less */
  .lottery-scroll .lottery-panel .lotterydata .mid_leng_button {
    bottom: 1% ;
    font-size: 100%;
  }
}
/*i pad mini 或手机 竖屏 (portrait)
*/
@media screen and (max-width: 768px) and (orientation: portrait) {
  /* line 563, style.less */
  .lottery-scroll .lottery-panel .lotterycup {
    left: 5%;
    display: none;
  }
  /* line 568, style.less */
  .lottery-scroll .lottery-panel .lotterydata {
    /*change*/
    height: 100%;
    /*change*/
    right: 0;
    left: 0;
    top: 0;
    min-height: 30%;
    /*change*/
    heigh: auto;
    width: 100%;
    /*change*/
    position: relative;
  }
}
/*手机 横屏 (portrait)
*/
@media screen and (max-width: 768px) and (orientation: landscape) {
  /* line 587, style.less */
  .lottery-scroll .lottery-panel .lotterycup {
    left: 5%;
    display: none;
  }
  /* line 592, style.less */
  .lottery-scroll .lottery-panel .lotterydata {
    /*change*/
    height: 100%;
    /*change*/
    right: 0;
    left: 0;
    top: 0;
    min-height: 30%;
    /*change*/
    heigh: auto;
    width: 100%;
    /*change*/
    position: relative;
  }
}
/*引入彩票数据包装样式*/
/*彩票球大小*/
/*彩票球包装样式-简*/
/* line 25, lotterywrapper.less */
.simpleballwrapper_red {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(255, 0, 0, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 46, lotterywrapper.less */
.simpleballwrapper_red + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 27, lotterywrapper.less */
.simpleballwrapper_red + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 46, lotterywrapper.less */
.simpleballwrapper + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 64, lotterywrapper.less */
.simpleballwrapper_blue {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(0, 0, 255, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 66, lotterywrapper.less */
.simpleballwrapper_blue + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 104, lotterywrapper.less */
.nextnumsection {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-direction: column ;
  -webkit-flex-direction: column ;
  -ms-flex-direction: column ;
  -o-flex-direction: column ;
  -moz-flex-direction: column ;
  align-content: center;
  /*基于基线对齐*/
  align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -webkit-align-items: baseline;
  -o-align-items: baseline;
  min-height: 30%;
  height: auto;
  max-height: 80%;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -o-justify-content: flex-start;
  padding-top: 1%;
  padding-bottom: 3%;
}
/* line 143, lotterywrapper.less */
.nextnumsection h1 {
  font-weight: lighter;
  font-family: serif;
  clean: both;
}
/* line 149, lotterywrapper.less */
.nextnumsection dl {
  margin: 0 ;
  padding: 0;
  clear: both;
  width: 90%;
  margin-right: 10%;
}
/* line 156, lotterywrapper.less */
.nextnumsection dl > dt {
  margin-left: 5px;
}
/* line 160, lotterywrapper.less */
.nextnumsection dl > dd {
  margin-left: 0;
}
/* line 167, lotterywrapper.less */
.nextnumsection .lotterynums {
  /*旧写法*/
  /*新写法*/
  /*混合写法*/
  /*旧写法*/
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  /*新写法*/
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  /*混合写法*/
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: flexbox;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -moz-box-wrap: wrap;
  -ms-box-wrap: wrap;
  -o-box-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  -o-flex-flow: wrap;
  flex-flow: wrap;
  align-items: center;
  -webkit-align-items: center;
  margin: 0;
  margin-left: 30px;
  /*跟上面保持对齐*/
  margin-top: 10px;
  padding: 0;
  /* perspective : */
  /*border : 1px solid;*/
}
/* line 205, lotterywrapper.less */
.nextnumsection .lotterynums li {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  list-style-type: none;
  with: auto ;
  height: auto;
  margin-left: 5px;
}
/* line 219, lotterywrapper.less */
.nextnumsection .lotterynums li > div {
  position: relative;
}
/* line 223, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type {
  /*滚入动画触发*/
  animation: ballrollingin 2s ease-out 0s 1 backwards;
  -o-animation: ballrollingin 2s ease-out 0s 1 backwards;
  -moz-animation: ballrollingin 2s ease-out 0s 1 backwards;
  -ms-animation: ballrollingin 2s ease-out 0s 1 backwards;
  -webkit-animation: ballrollingin 2s ease-out 0s 1 backwards;
}
/* line 224, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(255, 0, 0, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 46, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 27, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 227, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper_blue {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: arial;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 16px;
  color: rgba(0, 0, 255, 0.6);
  text-align: center;
  background: linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -moz-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -ms-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-linear-gradient(30% 0, #ffffff 100%, rgba(10, 10, 10, 0));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(#ffffff), color-stop(0%, #ffffff), color-stop(60%, #ffffff));
}
/* line 66, lotterywrapper.less */
.nextnumsection .lotterynums li span:first-of-type.simpleballwrapper_blue + .ballshadow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  left: 5px;
  top: 0;
  margin: 0;
  background: linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -moz-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -ms-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -o-linear-gradient(30% 0, transparent 60%, rgba(10, 10, 10, 0.3));
  background: -webkit-gradient(linear, 30% 0, 70% 100%, from(transparent), to(rgba(10, 10, 10, 0.3)), color-stop(60%, transparent), color-stop(100%, rgba(10, 10, 10, 0.3)));
  z-index: -1;
}
/* line 238, lotterywrapper.less */
.nextnumsection .lotterynums li span:nth-of-type(2) {
  /*充当阴影*/
  /**
					 *控制动画
					**/
  -o-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  -moz-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  -ms-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  -webkit-animation: ballshadowfollow 2s ease-out 0s 1 backwards;
  border-radius: 16px;
}
@-webkit-keyframes ballrollingin {
  /* line 267, lotterywrapper.less */
  0% {
    -webkit-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 270, lotterywrapper.less */
  100% {
    -webkit-transform: translateX(0) rotateZ(-720deg);
    /* style */
  }
}
@-moz-keyframes ballrollingin {
  /* line 276, lotterywrapper.less */
  0% {
    -moz-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 279, lotterywrapper.less */
  100% {
    -moz-transform: translateX(0) rotateZ(-720deg);
  }
}
@-ms-keyframes ballrollingin {
  /* line 284, lotterywrapper.less */
  0% {
    -ms-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 287, lotterywrapper.less */
  100% {
    -ms-transform: translateX(0) rotateZ(-720deg);
  }
}
@-o-keyframes ballrollingin {
  /* line 292, lotterywrapper.less */
  0% {
    -o-transform: translateX(500px) rotateZ(0deg);
  }
  /* line 295, lotterywrapper.less */
  100% {
    -o-transform: translateX(0) rotateZ(-720deg);
  }
}
@keyframes ballrollingin {
  /* line 300, lotterywrapper.less */
  0% {
    transform: translateX(500px) rotateZ(0deg);
  }
  /* line 303, lotterywrapper.less */
  100% {
    transform: translateX(0) rotateZ(-720deg);
  }
}
/*彩票球阴影跟随动画*/
@-webkit-keyframes ballshadowfollow {
  /* line 309, lotterywrapper.less */
  0% {
    -webkit-transform: translateX(500px);
  }
  /* line 312, lotterywrapper.less */
  100% {
    /* style */
    webkit-tranform: translateX(0);
  }
}
@-moz-keyframes ballshadowfollow {
  /* line 318, lotterywrapper.less */
  0% {
    -moz-transform: translateX(500px);
  }
  /* line 321, lotterywrapper.less */
  100% {
    /* style */
    moz-tranform: translateX(0);
  }
}
@-ms-keyframes ballshadowfollow {
  /* line 327, lotterywrapper.less */
  0% {
    -ms-transform: translateX(500px);
  }
  /* line 330, lotterywrapper.less */
  100% {
    /* style */
    ms-tranform: translateX(0);
  }
}
@-o-keyframes ballshadowfollow {
  /* line 336, lotterywrapper.less */
  0% {
    -o-transform: translateX(500px);
  }
  /* line 339, lotterywrapper.less */
  100% {
    /* style */
    o-tranform: translateX(0);
  }
}
@keyframes ballshadowfollow {
  /* line 345, lotterywrapper.less */
  0% {
    transform: translateX(500px);
  }
  /* line 348, lotterywrapper.less */
  100% {
    /* style */
    tranform: translateX(0);
  }
}
